.default-active-facets {
    margin-bottom: 10px;
    & > div {
        display: inline-block;
        margin-right: 10px;
    }
    .score-facet-tag {
        display: inline-block;
        color: #337ab7;
        background-color: #fff;
        padding: 2px 5px;
        border: 1px solid #ddd;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
    .icon {
        display: inline-block;
        width: 20px;
        text-indent: -3000px;
        background: url('../img/close.png') center 5px no-repeat;
        background-size: 12px;
    }

    .clear-all {
        cursor: pointer;

        &.disabled {
            pointer-events: none;
            opacity: 0.3;
        }
    }
    .facets {
        .score-facet-tag {
            vertical-align: bottom;
        }
    }
}
