﻿.score-like {
    &:extend(.default-like all); //inherit default SCORE styles

    &:hover {
    }

    &:focus, &:active:focus {
    }

    &.active {

        &:hover {
        }

        .icon {
        }

    }

    .icon {
    }

    .count {
    }

}